<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula Conversor-Temperatura</title>
</head>
<body>
    <h1>Conversor Temperatura</h1>
    <p> Entre com a temperatura em Celsius ---> Fahrenheit </p>
    <form th:action="@{/converter}" method="post">
        <label> Temperatura  </label>
        <input type="text" name="celsius" placeholder="Ex. 20.5" required>
        <button type="submit">Converter</button>
    </form>
    <p th:if="${fahrenheit != null}">Temperatura fahrenheit <strong th:text="{fahrenheit}"> </strong></p>
</body>
</html>